{% extends 'dairy_system/base.html' %}

{% block title %}Milk Inputs{% endblock %}

{% block content %}
<h1>Milk Inputs</h1>
<a href="{% url 'milkinput_create' %}" class="btn btn-primary">Add New Milk Input</a>
<ul class="list-group mt-3">
    {% for milkinput in object_list %}
    <li class="list-group-item">
        <a href="{% url 'milkinput_detail' milkinput.id %}">
            {{ milkinput.farmer.name }} - {{ milkinput.milk_quantity }} liters
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
