{% extends 'dairy_system/base.html' %}

{% block title %}Inventory{% endblock %}

{% block content %}
<h1>Inventory</h1>
<a href="{% url 'inventory_create' %}" class="btn btn-primary">Add Inventory</a>
<ul class="list-group mt-3">
    {% for inventory in object_list %}
    <li class="list-group-item">
        <a href="{% url 'inventory_detail' inventory.id %}">
            {{ inventory.quantity }} liters - Last updated: {{ inventory.updated_at }}
        </a>
    </li>
    {% endfor %}
</ul>
<p><a href="{% url 'dashboard' %}">Return Home</a></p>
{% endblock %}
